# Next 14 (eslint-config-next@14) peers eslint 7/8, but shared/api-node/web declare
# eslint 9/10. This is the standard workaround for the Next 14 + modern ESLint skew.
# TODO: move to Next 15 (eslint 9-native) or pin web to eslint 8 + legacy .eslintrc to drop this.
legacy-peer-deps=true
